// Place all the styles related to the Building controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#all-building-table > th, tr, td {
  width: 15%;
  text-align: center;
  word-wrap: break-word;        
    overflow-wrap: break-word;
}

#all-buildings-table {
  width: 80%;
  margin: 0 auto;
}
